@import "tailwindcss";

:root {
  --background: #000000f1;
  --red: #EF5A5A;
  --dark-blue: #3286AC;
  --light-blue: #73ECE2;
  --grey: #7C857D;
  --green: #038116;
  --orange: #EB9C3C;
  --white: #FFFFFF;
}

@theme inline {
  --color-red: var(--red);
  --color-dark-blue: var(--dark-blue);
  --color-light-blue: var(--light-blue);
  --color-grey: var(--grey);
  --color-green: var(--green);
  --color-orange: var(--orange);
  --color-white: var(--white);

}


body {
  background: var(--background);
  color: var(--white);
  font-family: var(--font-vt323);
}

@media (width <= 405px) {
  body {
    margin-left: 10px;
    margin-right: 10px;
  }
}